#card{

    position: static;
    margin-left: 5vw;
    width: auto;
    align-content: center;
    align-items: center;
    margin-right: 20vw;
    height: 580px;
    margin-top: 150px;
    background: rgba(0, 175, 185, 0.21);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

}

#logo{

    position: static;
    width: auto;
    height: 100px;
    max-width: 100%;
    background: url('res/logo.jpg')
    no-repeat
    center;
    background-size: contain;

}

#graphic1{

    position: static;
    width: auto;   /*607,613*/
    max-width: 100%;
    height: 580px;
    top: 10px;
    background: url('res/graphic1.jpg')
    no-repeat;
    background-size: cover;


}

#text
{
    padding-top: 100px;
    position: static;
    text-align: center;
    width: auto;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 3px;
    color: #096C89;

}

@media only screen and (max-width: 480px){

    #card{

        position: static;
        margin-left: 5vw;
        width: auto;
        align-content: center;
        align-items: center;
        margin-right: 20vw;
        height: 400px;
        background: rgba(0, 175, 185, 0.21);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;


    }
    #logo{

        position: static;
        width: auto;
        height: 100px;
        max-width: 100%;
        background-size: contain;

    }

    #graphic1{


        position: static;
        width: auto;   /*607,613*/
        max-width: 100%;
        height: 580px;
        margin-left: 50px;
        background-size: cover;





    }
    
}










